In [1]:
import pandas as pd
d = pd.read_csv("data/AAPL.csv")
d.describe()

,open,high,low,close,adjusted close,volume
count,4075.000000,4075.000000,4075.000000,4075.000000,4075.000000,4.075000e+03
mean,140.651964,141.263862,139.876493,140.653962,140.653962,4.779154e+06
std,14.259375,15.068083,14.417434,14.267851,14.267851,7.276934e+06
min,116.395000,117.140000,63.572000,114.539890,114.539890,0.000000e+00
25%,128.855000,129.215003,128.070000,128.895000,128.895000,0.000000e+00
50%,140.310000,141.279999,139.070000,140.330000,140.330000,0.000000e+00
75%,148.720001,149.047499,148.330000,148.713698,148.713698,8.186920e+06
max,181.880100,438.440000,181.310000,181.880000,181.880000,5.563519e+07

In [2]:
d.dtypes

ticker             object
name               object
date               object
open              float64
high              float64
low               float64
close             float64
adjusted close    float64
volume              int64
dtype: object

In [3]:
d["ticker"] = d['ticker'].astype("str")

In [4]:
d.dtypes

ticker             object
name               object
date               object
open              float64
high              float64
low               float64
close             float64
adjusted close    float64
volume              int64
dtype: object

In [9]:
d["date"]

0       2021-01-04 04:00:00-05:00
1       2021-01-04 05:00:00-05:00
2       2021-01-04 06:00:00-05:00
3       2021-01-04 07:00:00-05:00
4       2021-01-04 08:00:00-05:00
                  ...
4070    2021-12-30 13:30:00-05:00
4071    2021-12-30 14:30:00-05:00
4072    2021-12-30 15:30:00-05:00
4073    2021-12-30 16:00:00-05:00
4074    2021-12-30 17:00:00-05:00
Name: date, Length: 4075, dtype: object

In [13]:
d["time_test"] = [v[1][:2] for v in d["date"].str.split('-')]
d["time_test"]

0       01
1       01
2       01
3       01
4       01
        ..
4070    12
4071    12
4072    12
4073    12
4074    12
Name: time_test, Length: 4075, dtype: object

In [15]:
d["date"].str.split(' ').str[1].astype(str)

0       04:00:00-05:00
1       05:00:00-05:00
2       06:00:00-05:00
3       07:00:00-05:00
4       08:00:00-05:00
             ...
4070    13:30:00-05:00
4071    14:30:00-05:00
4072    15:30:00-05:00
4073    16:00:00-05:00
4074    17:00:00-05:00
Name: date, Length: 4075, dtype: object